fastapi==0.115.12
pydantic-settings~=2.8.1
pydantic[email]
uvicorn[standard]
sqlalchemy
alembic
python-jose[cryptography]
bcrypt==3.2.0
passlib==1.7.4
python-dotenv
# Test dependencies
pytest
pytest-asyncio
httpx